@model OxxCommerceStarterKit.Web.Models.ViewModels.PageViewModel<OxxCommerceStarterKit.Web.Models.ViewModels.Email.NotificationSettings>

<div class="login-page notification-settings-page">

	<h4>@Html.Translate("/contenttypes/notificationsettings/properties/from/caption")</h4>
	@Html.PropertyFor(m => m.CurrentPage.From)

	<h4>@Html.Translate("/contenttypes/notificationsettings/properties/mailheader/caption")</h4>
	<div class="email-header">@Html.PropertyFor(m => m.CurrentPage.MailHeader)</div>
	
	<h4>@Html.Translate("/contenttypes/notificationsettings/properties/mailfooter/caption")</h4>
	<div class="email-footer">@Html.PropertyFor(m => m.CurrentPage.MailFooter)</div>


</div>
