@model OxxCommerceStarterKit.Web.Models.ViewModels.PaymentInfo
@{
	bool oneIsChecked = false;
	bool onlyOnePaymentMethod = Model.PaymentMethods.Count == 1;
}
<div class="payment-methods-title">
	<h3>@Html.Translate("/common/checkout/payment_methods_title")</h3>
</div>

<div class="row payment-methods">
	<div class="col-xs-12">
		@foreach (var p in Model.PaymentMethods)
		{
			bool isChecked = !oneIsChecked && p.IsDefault && (Model.SelectedPayment == Guid.Empty || Model.SelectedPayment == p.PaymentMethodId);
			if (isChecked)
			{
				oneIsChecked = true;
			}
			<div class="payment-method">
				<label>
					<span class="image"><img src="@Url.Content("~/Content/images/paymentMethods/" + p.Name.ToLower() + ".png")" alt="@p.Name" /></span>
					<span @(onlyOnePaymentMethod ? "style=display:none;" : "")>
						@Html.RadioButton("SelectedPayment", p.PaymentMethodId, isChecked)
						<span class="text">@p.Name</span>
					</span>
				</label>
			</div>
		}
	</div>
</div>
