@using OxxCommerceStarterKit.Web.Extensions
@using OxxCommerceStarterKit.Web.Helpers
@model OxxCommerceStarterKit.Core.Objects.RegisterForm

<div id="registration">

	<h2>@Html.Translate("/common/account/registerheader")</h2>

	@using (Html.BeginForm("Register", "RegisterPage", ViewContext.GetCombinedRouteValues(new { }), FormMethod.Post, UrlHelpers.AnonymousObjectToHtmlAttributes(new { id = "loginForm" })))
	{
		<div class="form-group">
			@Html.LabelFor(m => m.UserName)
			@Html.TextBoxFor(m => m.UserName, new { placeholder = @Html.Translate("/common/account/username_placeholder"), autocomplete = "off", @class = "form-control" })
			@Html.ValidationMessageFor(m => m.UserName, string.Format(Html.Translate("/common/validation/required"), Html.Translate("/common/account/username").Replace(":", "")))
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Password)
			@Html.PasswordFor(m => m.Password, new { placeholder = @Html.Translate("/common/account/password_placeholder"), @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Password, string.Format(Html.Translate("/common/validation/required"), Html.Translate("/common/account/password").Replace(":", "")))
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.PasswordConfirm)
			@Html.PasswordFor(m => m.PasswordConfirm, new { placeholder = @Html.Translate("/common/account/password_repeat_placeholder"), @class = "form-control" })
			@Html.ValidationMessageFor(m => m.PasswordConfirm, string.Format(Html.Translate("/common/validation/required"), Html.Translate("/common/account/password_repeat_placeholder").Replace(":", "")))
		</div>
		<div class="address-field">
			@Html.EditorFor(m => m.Address)
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Phone)
			@Html.TextBoxFor(m => m.Phone, new { placeholder = @Html.Translate("/common/accountpages/placeholder/phone"), @class = "form-control" })
		</div>


		<div class="form-group join-member-club">
			<label>
				<span>@Html.Translate("/common/account/memberclub/join_label")</span>
				@Html.RadioButtonFor(m => m.MemberClub, true)
				@Html.Translate("/common/account/memberclub/join_club_option")
			</label>
			<label>
				@Html.RadioButtonFor(m => m.MemberClub, false)
				@Html.Translate("/common/account/memberclub/dont_join_club_option")
			</label>
		</div>

		<div class="form-group interests" @(Model.MemberClub ? "" : "style=display:none;")>
			<strong>@Html.Translate("/common/account/interests/title")</strong><br />
			@if (Model.AvailableCategories != null)
			{
				foreach (var c in Model.AvailableCategories)
				{
					<label>
						<input type="checkbox" name="SelectedCategories" value="@c.Key" @(Model.SelectedCategories != null && Model.SelectedCategories.Any(x => x.ToString() == c.Key) ? "checked=checked" : "") />
						@Html.TranslateFallback("/common/account/interests/" + c.Value.ToLower(), c.Value)
					</label><br />
				}
			}
		</div>


		<div class="form-group">
			@Html.ValidationMessageFor(m => m.ValidationMessage)
		</div>
		<div class="form-group clearfix">
			<input type="submit" class="btn btn-default" value="@Html.Translate("/common/account/register")" />
		</div>
	}
</div>