@model OxxCommerceStarterKit.Core.Objects.Address
@{
    Layout = null;
}
<div class="form-group">
    @Html.LabelFor(m => m.FirstName)
    @Html.EditorFor(m => m.FirstName, new { @class = "form-control firstname", disabled="disabled" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LastName)
    @Html.EditorFor(m => m.LastName, new { @class = "form-control lastname", disabled="disabled" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.StreetAddress)
    @Html.EditorFor(m => m.StreetAddress, new { @class = "form-control streetaddress", disabled="disabled" })
</div>
<div class="form-inline">
    <div class="form-group">
        @Html.LabelFor(m => m.ZipCode)
        @Html.EditorFor(m => m.ZipCode, new { @class = "form-control zipcode", disabled="disabled" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.EditorFor(m => m.City, new { @class = "form-control city", disabled="disabled" })
    </div>
</div>