@using OxxCommerceStarterKit.Web.Helpers
@model OxxCommerceStarterKit.Web.Models.Blocks.ButtonWithHelpLinkBlock
@{
	int helpReference = 0;

	string helpHref = "javascript:;";
	string helpTarget = "";

	if (Model.HelpLink != null)
	{
		helpReference = UrlHelpers.GetReferenceFromUrl(Model.HelpLink);
		if (helpReference == 0)
		{
			helpHref = Url.ContentUrl(Model.HelpLink);
			helpTarget = "target=_blank";
		}
	}
	bool isAbsoluteUri = Model.Link != null && Model.Link.IsAbsoluteUri;
}
@if (Model != null && !string.IsNullOrEmpty(Model.Text))
{
	<a class="btn btn-primary btn-sm" href="@(Model.Link != null ? Model.Link.ToString()) : "javascript:;")" @(isAbsoluteUri ? "target=_blank" : "")>@Model.Text</a>
    if (Model.HelpLink != null)
    {
        <a class="btn btn-primary btn-sm help" href="@helpHref" data-reference="@helpReference" @helpTarget>?</a>
    }
}