@model OxxCommerceStarterKit.Web.Models.ViewModels.CartModel
@{
    ViewBag.Title = Model.CurrentPage.Name;
    var settings = (Chrome)ViewBag.Chrome;
}

<div ng-controller="CartController" ng-init="initCart('Default', '@Model.Language')" class="cart-page">
    <h1>@Html.PropertyFor(m => m.CurrentPage.Name)</h1>
    <div class="cart">

        @Html.Partial("PagePartials/_ItemList", new CartItemListViewModel() { HideMoveToCart = true })

        @Html.Partial("PagePartials/_CartTotal")

    </div>
    <div class="row cart-commands buttons">
        <div class="col-xs-12" ng-show="cartTotal === 0" ng-cloak>@Html.Translate("/common/cart/no_products")</div>
        <div class="col-xs-12" ng-show="cartTotal > 0" ng-cloak>
            @*@Html.ContentLink(@Html.Translate("/common/cart/goto_payment"), Model.CheckoutPage,null, new { @class = "btn btn-primary pull-right", ng_Click="gotoPayment()" })*@
            <a href="@Url.ContentUrl(settings.CheckoutPage)" ng-click="gotoPayment($event)" class="btn btn-primary pull-right">@Html.Translate("/common/cart/goto_payment")</a>
            <button class="btn btn-default pull-right" ng-click="emptyCart('Default')">@Html.Translate("/common/cart/empty_cart")</button>
        </div>
    </div>
</div>


