@{
	var chrome = (Chrome)ViewBag.Chrome;
}
<!DOCTYPE html>
<html lang="no" ng-app="productApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-config" content="none" />
	<title>@ViewBag.Title</title>
	<!--[if lt IE 9]>
	  <script src="@Url.Content("~/Scripts/libraries/html5shiv.js")"></script>
	  <script src="@Url.Content("~/Scripts/libraries/respond.min.js")"></script>
	<![endif]-->
	@Styles.Render("~/Content/css")
	<link media="print" href="@Url.Content("~/Content/css/print.css")" rel="stylesheet" type="text/css" />
	@Scripts.Render("~/bundles/jquery")
	@RenderSection("Head", false)
</head>
<body>
	<header role="banner" class="header">
		<div class="header">
			<div class="container">
				<div class="logo">
					<a href="@Url.Content("~/")">
						<img src="@Url.Content("~/Content/Images/starterkit-logo.png")" alt="Commerce Starter Kit" />
					</a>
				</div>
			</div>
		</div>
		<div class="gradient"></div>
		<nav class="navbar navbar-default menu-main" role="navigation">
			<div class="container">
				<div class="navbar-header"></div>
			</div>
		</nav>
		<div class="container visible-print">
			<h1>Commerce Starter Kit</h1>			
		</div>
	</header>
	<section role="main" class=" page">
		<div class="container">
			@RenderBody()
		</div>
	</section>

	<footer role="contentinfo" class="footer">
		&nbsp;
	</footer>

	<script src="~/Scripts/libraries/jquery-migrate-1.2.1.min.js"></script>
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jqueryui")
	<script src="~/Scripts/js/Components/login.js"></script>

	@Scripts.Render("~/bundles/general")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/angular_app")
	<script type="text/javascript">
		Oxx.AjaxUtils.sitePath = '@Url.Content("~/")';
		Oxx.AjaxUtils.language = '@chrome.Language';
	</script>
	@RenderSection("scripts", required: false)

</body>
</html>
