@using OxxCommerceStarterKit.Web.Extensions
@using OxxCommerceStarterKit.Web.Helpers
@model OxxCommerceStarterKit.Web.Models.ViewModels.ForgotPasswordViewModel
@{
	ViewBag.Title = Model.CurrentPage.Name;
}
<div class="login-page request-password-page">
	@Html.PropertyFor(m => m.CurrentPage.ResetPasswordContent)

	@using (Html.BeginForm("RequestPassword", "Login", ViewContext.GetCombinedRouteValues(new { }), FormMethod.Post, UrlHelpers.AnonymousObjectToHtmlAttributes(new { id = "loginForm" })))
	{
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group email">
					@Html.LabelFor(m => m.ForgotPasswordForm.Mail, Html.Translate("/common/account/username"), new { @class = "sr-only" })
					@Html.TextBoxFor(m => m.ForgotPasswordForm.Mail, new { @placeholder = @Html.Translate("/common/account/username_placeholder"), @class="form-control" })
					@Html.ValidationMessageFor(m => m.ForgotPasswordForm.Mail, string.Format(Html.Translate("/common/validation/required"), Html.Translate("/common/account/username")))
				</div>
			</div>
			<div class="form-group">
				@Html.ValidationMessageFor(m => m.ForgotPasswordForm.ValidationMessage)
			</div>
			<div class="col-xs-12">
				<button type="submit" class="btn btn-default">@Html.Translate("/common/account/reset_password")</button>
			</div>
		</div>
	}
</div>