@using OxxCommerceStarterKit.Web.Extensions
@using OxxCommerceStarterKit.Web.Helpers
@model OxxCommerceStarterKit.Web.Models.ViewModels.ResetPasswordViewModel
<div class="login-page reset-password-page">
	@Html.PropertyFor(m => m.CurrentPage.RequestPasswordContent)



	@using (Html.BeginForm("ResetPassword", "Login", ViewContext.GetCombinedRouteValues(new { }), FormMethod.Post, UrlHelpers.AnonymousObjectToHtmlAttributes(new { id = "loginForm" })))
	{
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					@Html.LabelFor(m => m.ResetPasswordForm.Password, Html.Translate("/common/account/password"))
					@Html.PasswordFor(m => m.ResetPasswordForm.Password, new { @class = "form-control", @placeholder = Html.Translate("/common/account/password_placeholder") })
					@Html.ValidationMessageFor(m => m.ResetPasswordForm.Password, string.Format(Html.Translate("/common/validation/required"), Html.Translate("/common/account/password").Replace(":", "")))
				</div>
			</div>
			<div class="col-xs-12">
				<div class="form-group">
					@Html.LabelFor(m => m.ResetPasswordForm.PasswordConfirm, Html.Translate("/common/account/password_repeat"))
					@Html.PasswordFor(m => m.ResetPasswordForm.PasswordConfirm, new { @class = "form-control", @placeholder = Html.Translate("/common/account/password_repeat_placeholder") })
					@Html.ValidationMessageFor(m => m.ResetPasswordForm.PasswordConfirm, string.Format(Html.Translate("/common/validation/required"), Html.Translate("/common/account/password_repeat_placeholder").Replace(":", "")))
				</div>
			</div>
		</div>
		<div class="form-group">
			@Html.ValidationMessageFor(m => m.ResetPasswordForm.ValidationMessage)
		</div>
		@Html.HiddenFor(m => m.ResetPasswordForm.Token)

		@Html.HiddenFor(m => m.ResetPasswordForm.UserName)

		<button type="submit" class="btn btn-default">@Html.Translate("/common/account/reset_password")</button>
	}
</div>